nav {
  background-color: #44118c;
}

div.nav-bg {
  background-color: #44118c;
}

.nav-bg {
  background-color: #cac8cc;
}

.margin-right {
  margin-right: 16px !important;
}

.logo-img {
  width: 2.25rem;
  height: 2.25rem;
}

.userName {
  font-size: 1.05rem;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-weight: 700;
}

.dialogClass {
  /* position: fixed;  */
  /* padding-right: 16 px !important; */
  /* right: -10px !important; */
}

.navbar-brand {
  font-family: cursive, monospace, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* .floatingButton {
  right: 0 !important;
} */

.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navBg {
  /* background: url("./assets/background.svg") no-repeat center center;*/

  height: 60vh;

  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.252),
      #44118c5b
    ),
    url("https://firebasestorage.googleapis.com/v0/b/blog-5addf.appspot.com/o/images%2Fwoman-desktop-with-laptop-morning-coffee-tulips-violet-background-flat-lay-spring-holiday-mother-day.jpg?alt=media&token=645c9c58-edea-4f85-852c-8fcfe3b9bc7b");
  /* background-image: url("https://img.freepik.com/free-photo/desk-workspace-with-various-elements_23-2148043207.jpg?w=1060&t=st=1680628042~exp=1680628642~hmac=9ae4547f830c2e0bfb89d05336f6b54714f22e30870c5da6071d809cd9f5f21c"); */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.appBar-Bg {
  background: url("./assets/background.svg") no-repeat center center;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.home-Bg {
  position: relative;
  top: -20rem;
  margin: 0;
  padding: 0;
}

.profileImage {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border: 5px solid #cac8cc7b;
}
